@import url("https://use.typekit.net/zzn6vcb.css");

body{
font-family: itc-benguiat, serif;
font-weight: 400;
margin:0;padding:0;
    background-color:#94786C;color:#88aacd;
    overflow:hidden;}




audio {
  width: 50%;height:100%;
  transform: scale(1);
}






.wrap{position:fixed;width:100%;height:100%;top:0;left:0;}
.wrap2 {position:relative;}
.wrapaudio{z-index: 500;height:5%;position:fixed;bottom:2%;width:100%;left:25%}
.title{font-size:3em;text-align:center;top:10px;width:100%;height:auto;z-index:2;}
.rsvg {height:100%;z-index:1;bottom:0;}

.othertracks {position:fixed;font-size:1.3em;text-align:center;right:-23%;top:50%;width:50%;height:auto;z-index: 3;transform: rotate(90deg)}

a:link {text-decoration: none;color:#88aacd;}
a:visited {text-decoration: none;color:#88aacd;}
a:hover {text-decoration: underline;color:#88aacd;}
.underline {text-decoration:underline;color:#88aacd;}


.rotate-oval1 {
}

.rotate-oval2 {
    -moz-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    transform:rotate(-30deg)
}

.rotate-oval3 {
    -moz-transform:rotate(-60deg);
    -webkit-transform:rotate(-60deg);
    -o-transform:rotate(-60deg);
    transform:rotate(-60deg);
}

.rotate-oval4 {
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

.rotate-oval5 {
    -moz-transform:rotate(-120deg);
    -webkit-transform:rotate(-120deg);
    -o-transform:rotate(-120deg);
    transform:rotate(-120deg);
}

.oval {-moz-border-radius:100%;
  border-radius:100%;background-color: #252525;
  width:23%;
  height:24%;
  display: inline-block;
  position: relative;
  margin-bottom:7%;
  margin-left:1%;  -webkit-transition:10s ease;
  -moz-transition:10s ease;
  transition:10s ease;
}

.spin {
  -moz-transform:rotate(3600deg);
  -webkit-transform:rotate(3600deg);
  -o-transform:rotate(3600deg);
  transform:rotate(3600deg);

}




@media only screen and (max-width:600px){.title{font-size:2em;}
    .oval{width:30%; height:22%;}
.othertracks {position:fixed;font-size:1em;top:50%;right:-45%;width:100%;z-index:3;transform: rotate(90deg);}
}


